<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title><%= user %>'s <%= title %></title>
  </head>
  <body>
    <h1><%= user %>'s <%= title %></h1>
    <p>Posted: <%= date %></p>
    <div>
      <p><%= text %></p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nulla quis
        adipisci, earum mollitia culpa doloribus qui sit optio repellendus,
        soluta consequuntur ipsa magni praesentium quas exercitationem eaque
        necessitatibus. Iure, officiis.
      </p>
    </div>
    <div>
      <a href="/" class="return-home-link">Return to homepage</a>
    </div>
  </body>
</html>
